
.img_container {
  position: relative;
  margin: 0 auto;
  padding: 0;
  max-width: 320px;
}

.texto_superior {
  position: absolute;
  top: 0;
  left: 0;
  cursor: -webkit-grab;
  cursor: grab;
}

#modificadores {
  display: flex;
  justify-content: center;
  align-items: center;

}
.form-label {
  margin: 0;
}
input,
select,
button {
  margin: 0.4rem;
}

input[type="range"] {
  width: 75px;
}

input[type="text"] {
  width: 125px;
}